.back {
    margin: 20px 0;
}

.pastille{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

h3[data-toggle="collapse"]:hover {
    cursor: pointer;
    color: #3c6382;
}

.first-col {
    display: flex;
    align-items: center;
}